<h1>currently connected IPs</h1>
<table>
  <tbody>
    <% @connections.each do |connection| %>
      <tr>
        <td>
          <%= connection %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>banned users</h1>
