<div class="row">
  <div class="col-md-8">
    <h1><%= @scheduled_show.title %></h1>
    <h3><%= "Host: #{@scheduled_show.dj.username}" %></h3>
    <%= image_tag @scheduled_show.image_url %>
  </div>
  <div class="col-md-4">
    <h2><%= "#{@scheduled_show.start} - #{@scheduled_show.end}" %></h2>
  </div>
</div>
