.git
.gitignore
.bundle
.env
.env.*
!.env.sample
.ruby-lsp

config/application.yml
application.yml

log/*
tmp/*
storage/*
coverage

vendor/bundle
node_modules

db/*.sqlite3
db/*.sqlite3-journal
dump.rdb
postgres-data*
redis-data
rails_database
rails_database.tar

spec
test
*.log
*.png?*
*.mp3?*

docker-compose*.yml
Dockerfile*
README.md
