<li data-type="track" data-track-id="<%= track.id %>" class='track'>
  <button data-track-id="<%= track.id %>" class="delete-from-playlist btn btn-danger">
    <i class="fa fa-times-circle"></i>
  </button><%= track.file_basename %>
</li>
