<div class="row">
  <div class="col-md-12">
    <h3>upload new track</h3>
      <%= s3_uploader_form callback_url: tracks_url(format: :js),
                           callback_param: "track[audio_file_name]",
                           key_starts_with: "",
                           key: "{cleaned_filename}",
                           id: "track-uploader" do %>
      <%= file_field_tag :file, multiple: true, data: { url: s3_uploader_url } %>
      <div id="dropzone" class="drop-fade well">Drop files here</div>
    <% end %>
    <div id="status"></div>
    <script id="template-upload" type="text/x-tmpl">
      <div id="file-{%=o.unique_id%}" class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>tracks</h3>
    <ul id="tracks">
      <% @tracks.each do |track| %>
        <%= render track %>
      <% end %>
    </ul>
  </div>
</div>
