<h1>Recordings</h1>

<table class="table table-striped">
  <thead>
    <th>recording</th>
  </thead>
  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= link_to recording.file_file_name, recording.file(:original), target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
