<div class="modal fade" id="cta-modal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Stream pusher isn't quite ready!</h4>
      </div>
      <div class="modal-body">
        <p>We are working hard to make stream pusher great. Let us know your email address and we will let you know when it is ready!</p>
        <%= render 'mailchimp' %>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
