<h2>Pricing</h2>
<br/>
<section id="pricing">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Professional</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>4</strong> streams</li>
              <li><strong>200</strong> listeners per stream</li>
              <li><strong>100</strong> gb storage</li>
              <li>No bandwidth limit</li>
              <li>Up to 192kbps stream quality</li>
            </ul>
            <p class="price"><strong>$79 / month</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Premium</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>2</strong> streams</li>
              <li><strong>100</strong> listeners per stream</li>
              <li><strong>30</strong> gb storage</li>
              <li>No bandwidth limit</li>
              <li>Up to 192kbps stream quality</li>
            </ul>
            <p class="price"><strong>$39 / month</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Hobbyist</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>1</strong> stream</li>
              <li><strong>50</strong> listeners per stream</li>
              <li><strong>10</strong> gb storage</li>
              <li>No bandwidth limit</li>
              <li>Up to 192kbps stream quality</li>
            </ul>
            <p class="price"><strong>$19 / month</strong></p>
          </div>
        </div>
      </div>
  </div>
</section>
<h2>Don't see what you need?</h2>
<p><a href="mailto:mcfiredrill@gmail.com?subject=Streampusher-custom-plan-request">Contact us</a> and we would be happy to work out a custom pricing plan that fits your needs, whether its more listeners, more streams, or anything else you are looking for.</p>
