<h2>Pricing</h2>
<br/>
<section id="pricing">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Premium</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>Up to 5</strong> user accounts</li>
              <li><strong>40</strong> gb storage</li>
              <li>Unlimited listeners</li>
              <li>Up to 192kbps stream quality</li>
              <li>HTML embeds</li>
            </ul>
            <p class="price"><strong>$49 / month</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Professional</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>Unlimited</strong> user accounts</li>
              <li><strong>100</strong> gb storage</li>
              <li>Unlimited listeners</li>
              <li>Up to 192kbps stream quality</li>
              <li>HTML embeds</li>
            </ul>
            <p class="price"><strong>$79 / month</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Hobbyist</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>Up to 10</strong> user accounts</li>
              <li><strong>20</strong> gb storage</li>
              <li>Unlimited listeners</li>
              <li>Up to 192kbps stream quality</li>
              <li>HTML embeds</li>
            </ul>
            <p class="price"><strong>$19 / month</strong></p>
          </div>
        </div>
      </div>
  </div>
</section>
<h2>Want to try us out?</h2>
<p>
Try streampusher free for <strong>14 days!</strong>
</p>
<p>
<strong>No credit card required</strong>
</p>
<button type="button" data-toggle="modal" data-target="#cta-modal" class="big-cta-btn btn">Start your free trial now!</button>
