<h2>Pricing</h2>
<br/>
<section id="pricing">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Premium</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>Up to 5</strong> user accounts</li>
              <li><strong>40</strong> gb storage</li>
              <li>Unlimited listeners</li>
              <li>Up to 192kbps stream quality</li>
            </ul>
            <p class="price"><strong>$49 / month</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Professional</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>Unlimited</strong> listener accounts</li>
              <li><strong>100</strong> gb storage</li>
              <li>Unlimited listeners</li>
              <li>Up to 192kbps stream quality</li>
            </ul>
            <p class="price"><strong>$79 / month</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Hobbyist</h3>
          </div>
          <div class="panel-body">
            <ul class="pricing-points">
              <li><strong>Up to 10</strong> user accounts</li>
              <li><strong>10</strong> gb storage</li>
              <li>Unlimited listeners</li>
              <li>Up to 192kbps stream quality</li>
            </ul>
            <p class="price"><strong>$19 / month</strong></p>
          </div>
        </div>
      </div>
  </div>
</section>
<h2>Don't see what you need?</h2>
<p><a href="mailto:info@streampusher.com?subject=Streampusher-custom-plan-request">Contact us</a> and we would be happy to work out a custom pricing plan that fits your needs, whether its more storage, more streams, or anything else you are looking for.</p>
