<div class="row-fluid">
  <section id="header" class="pull-center">
    <h1>all you need to make an awesome internet radio station</h1>
    <!-- insert awesome screenshot here -->
    <h3>make it easier to understand, control and promote your net radio</h3>
  </section>

  <section>
    <h2>auto dj system that works perfectly</h2>
    <p>upload mp3s into a drag-n-drop playlist</p>
  </section>

  <section>
    <h2>schedule your djs and keep everyone in sync no matter what timezone they are in</h2>
    <p>just drag and drop shows into your radio's calendar</p>
  </section>

  <section>
    <h2>djs can broadcast directly from your browser, no need to download additional software</h2>
  </section>

  <section>
    <h2>all live broadcasts are recorded automatically, export to a podcast or your favorite service</h2>
    <p>export to your soundcloud or mixcloud account with one click<p>
  </section>

  <section>
    <h2>embed the stream on your website with easy copy and paste widgets</h2>
  </section>

  <section>
    <h2>get more listeners</h2>
    <p>
    automatically submit your radio to tune in, ice cast and shout cast directories. drive more listeners to your stream with automatic tweeting and Facebook posting.
    </p>
  </section>

  <section id="pricing">
    <h2>all plans include unlimited listeners and bandwidth</h2>
  </section>

  <section id="newsletter">
    <%= render 'mailchimp' %>
  </section>

  <section id="social">
  </section>
</div>
<%= render 'olark' %>
