<div class="row-fluid landing">
  <section id="header" class="pull-center">
    <h1 class="lead-copy-1">All you need to make an</h1>
    <h1 class="lead-copy-2"><strong>awesome</strong> internet radio station</h1>
    <!-- insert awesome screenshot here -->
    <br/>
    <h2 class="lead-copy">A complete internet radio solution</h3>
  </section>

  <br/>
  <br/>
  <section class="white">
    <div class="container">
      <h2>Auto dj system with seamless transitions to live DJs</h2>
      <p>Upload mp3s into a simple drag-n-drop playlist. When the live DJ connects and disconnects, the stream will transition to the auto DJ playlist automatically and seamlessly, with no listener interruptions.</p>
    </div>
  </section>

  <section class="blue">
    <div class="container">
      <h2>Schedule your live djs and keep everyone in sync, no matter what timezone they are in</h2>
      <p>Just drag and drop shows into your radio's calendar. The calendar will appear in the logged-in user's timezone automatically. It doesn't get any simpler.</p>
    </div>
  </section>

  <section class="white">
    <div class="container">
      <h2>Know your audience</h2>
      <p>Your listener stats are presented by-the-hour in beautiful graphs, as well as a geographic map so you can know where your listeners are coming from.</p>
    </div>
  </section>

  <section class="blue">
    <div class="container">
      <h2>All live broadcasts are recorded automatically, export to a podcast or your favorite service</h2>
      <p>Export to your soundcloud or mixcloud account with <strong>one click</strong>.<p>
    </div>
  </section>

  <section class="white">
    <div class="container">
      <h2>Embed the stream on your website with easy copy and paste widgets</h2>
      <p>Just copy the provided HTML code for an instant embeddable player widget</p>
    </div>
  </section>

  <section class="blue">
    <div class="container">
      <h2>Get more listeners</h2>
      <p>
      Automatically submit your radio to tune in, icecast and shoutcast directories. Drive more listeners to your stream with automatic tweeting and Facebook posting.
      </p>
    </div>
  </section>

  <div class="container">
    <h2>Pricing</h2>
    <br/>
    <section id="pricing">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Professional</h3>
              </div>
              <div class="panel-body">
                <ul class="pricing-points">
                  <li><strong>4</strong> streams</li>
                  <li><strong>200</strong> listeners per stream</li>
                  <li><strong>100</strong> gb storage</li>
                  <li>No bandwidth limit</li>
                  <li>Up to 192kbps stream quality</li>
                </ul>
                <p class="price"><strong>$79 / month</strong></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Premium</h3>
              </div>
              <div class="panel-body">
                <ul class="pricing-points">
                  <li><strong>2</strong> streams</li>
                  <li><strong>100</strong> listeners per stream</li>
                  <li><strong>30</strong> gb storage</li>
                  <li>No bandwidth limit</li>
                  <li>Up to 192kbps stream quality</li>
                </ul>
                <p class="price"><strong>$39 / month</strong></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Hobbyist</h3>
              </div>
              <div class="panel-body">
                <ul class="pricing-points">
                  <li><strong>1</strong> stream</li>
                  <li><strong>50</strong> listeners per stream</li>
                  <li><strong>10</strong> gb storage</li>
                  <li>No bandwidth limit</li>
                  <li>Up to 192kbps stream quality</li>
                </ul>
                <p class="price"><strong>$19 / month</strong></p>
              </div>
            </div>
          </div>
      </div>
    </section>
  </div>

  <div class="container">
    <section id="newsletter">
      <button type="button" data-toggle="modal" data-target="#cta-modal" class="big-cta-btn btn">Sound good? Sign up here!</button>
      <%= render 'cta_modal' %>
    </section>
  </div>

  <br />
  <br />
</div>
<%= render 'olark' %>
