<table class="table table-striped">
  <thead>
    <th>subscription id</th>
    <th>user</th>
    <th>radios</th>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.id %></td>
        <td><%= subscription.user.email %></td>
        <td><%= link_to 'manage radios', admin_radios_path(subscription) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

