---
http_interactions:
- request:
    method: get
    uri: https://streampusher-relay.club//admin/listmounts?with_listeners
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW46aGFja21l
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <icestats>
          <source mount="/Noughtie90s.mp3">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>1433793</Connected>
            <content-type>audio/mpeg</content-type>
          </source>
          <source mount="/Noughtie90s.ogg">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>1123598</Connected>
            <content-type>application/ogg</content-type>
          </source>
          <source mount="/Pride365.mp3">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>2538273</Connected>
            <content-type>audio/mpeg</content-type>
      [...]
[...]
- request:
    method: get
    uri: https://freegeoip.io/json/108.20.34.198
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Mon, 15 May 2017 13:34:14 GMT
    body:
      encoding: UTF-8
      string: '{"ip":"108.20.34.198","country_code":"US","country_name":"United States","region_code":"RI","region_name":"Rhode
        Island","city":"Woonsocket","zip_code":"02895","time_zone":"America/New_York","latitude":41.998,"longitude":-71.4941,"metro_code":521}

'
  recorded_at: Wed, 24 May 2017 13:39:10 GMT
- request:
    method: get
    uri: https://freegeoip.io/json/110.4.177.176
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Mon, 15 May 2017 13:34:14 GMT
    body:
      encoding: UTF-8
      string: '{"ip":"110.4.177.176","country_code":"JP","country_name":"Japan","region_code":"13","region_name":"Tokyo","city":"Tokyo","zip_code":"100-0001","time_zone":"Asia/Tokyo","latitude":35.6427,"longitude":139.7677,"metro_code":0}

'
  recorded_at: Wed, 24 May 2017 13:39:11 GMT
recorded_with: VCR 3.0.3
