---
http_interactions:
- request:
    method: get
    uri: https://streampusher-relay.club//admin/listmounts?with_listeners
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW46aGFja21l
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <icestats>
          <source mount="/Gday.mp3">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>944828</Connected>
            <content-type>audio/mpeg</content-type>
          </source>
          <source mount="/Gday.ogg">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>410934</Connected>
            <content-type>application/ogg</content-type>
          </source>
          <source mount="/InternetPublicRadio.mp3">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>170586</Connected>
            <content-type>audio/mpeg</content-type>
          </source>
          <source mount="/InternetPublicRadio.ogg">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>117523</Connected>
            <content-type>application/ogg</content-type>
          </source>
          <source mount="/Noughtie90s.mp3">
            <listeners>1</listeners>
            <Listeners>1</Listeners>
            <Connected>410930</Connected>
            <content-type>audio/mpeg</content-type>
            <listener id="3092245">
              <ID>3092245</ID>
              <IP>88.99.58.145</IP>
              <UserAgent>WinampMPEG/5.50</UserAgent>
              <lag>0</lag>
              <Connected>17380</Connected>
            </listener>
          </source>
          <source mount="/Pride365.mp3">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>979070</Connected>
            <content-type>audio/mpeg</content-type>
          </source>
          <source mount="/Pride365.ogg">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>979069</Connected>
            <conten[...]
[...]
