---
http_interactions:
- request:
    method: get
    uri: https://streampusher-relay.club//admin/listmounts?with_listeners
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW46aGFja21l
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <icestats>
          <source mount="/Noughtie90s.mp3">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>1433920</Connected>
            <content-type>audio/mpeg</content-type>
          </source>
          <source mount="/Noughtie90s.ogg">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>1123725</Connected>
            <content-type>application/ogg</content-type>
          </source>
          <source mount="/Pride365.mp3">
            <listeners>0</listeners>
            <Listeners>0</Listeners>
            <Connected>2538400</Connected>
            <content-type>audio/mpeg</content-type>
      [...]
[...]
