---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/text/animate?api_key=OJAyf3JHblNAu9hHhmccbPrH4wCN0pJQ&limit=50&m=Anthony%20subscribed%20to%20the%20patreon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 0ms
      X-Cachiness-Shield-Rule:
      - fastly_default
      X-Cachiness-Shield-Desired-Ttl:
      - 1200s
      X-Cachiness-Shield-Actual-Ttl:
      - '1200.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - fastly_default
      X-Cachiness-Edge-Desired-Ttl:
      - 1200s
      X-Cachiness-Edge-Actual-Ttl:
      - '1200.000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"status":403,"msg":"Forbidden","response_id":"bcjrg5mwk4ckvkdrkijgqy571hfpelwzk8ex4lv3"}}'
  recorded_at: Sat, 22 Feb 2025 00:16:36 GMT
recorded_with: VCR 6.1.0
