---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=yoshino%40malboro.info&plan=Free+Trial&coupon=COOLCOUPON2014
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BbNDmtb35bLthi",
          "object": "customer",
          "account_balance": 0,
          "created": 1508305931,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "yoshino@malboro.info",
          "discount": {
            "object": "discount",
            "coupon": {
              "id": "COOLCOUPON2014",
              "object": "coupon",
              "amount_off": 1200,
              "created": 1508300551,
              "currency": "usd",
              "duration": "repeating",
              "duration_in_months": 12,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": null,
              "redeem_by": null,
              "times_redeemed": 3,
              "valid": true
            },
            "customer": "cus_BbNDmtb35bLthi",
            "end": 1539841931,
            "start": 1508305931,
            "subscription": null
          },
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BbNDmtb35bLthi/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BbNDIfBs2INash",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1508305931,
                "current_period_end": 1509515531,
                "current_period_start": 1508305931,
                "customer": "cus_BbNDmtb35bLthi",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1BEATPBgrAjRvl1etQfSSgpB",
                      "object": "subscription_item",
                      "created": 1508305932,
                      "metadata": {},
                      "plan": {
                        "id": "Free Trial",
                        "object": "plan",
                        "amount": 0,
                        "created": 1447767566,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Free Trial",
                        "statement_descriptor": null,
                        "trial_period_days": 14,
                        "statement_description": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BbNDIfBs2INash"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1508305931,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1509515531,
                "trial_start": 1508305931
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BbNDmtb35bLthi/subscriptions"
          },
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BbNDmtb35bLthi/cards"
          },
          "default_card": null
        }
  recorded_at: Tue, 17 Oct 2017 15:00:00 GMT
recorded_with: VCR 3.0.3
