---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=yoshino%40malboro.info&plan=Free+Trial
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BbNDK0GPJHwhl9",
          "object": "customer",
          "account_balance": 0,
          "created": 1508305938,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "yoshino@malboro.info",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BbNDK0GPJHwhl9/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BbNDRX6Xy8xTm5",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1508305938,
                "current_period_end": 1509515538,
                "current_period_start": 1508305938,
                "customer": "cus_BbNDK0GPJHwhl9",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1BEATWBgrAjRvl1ehR20aSPK",
                      "object": "subscription_item",
                      "created": 1508305939,
                      "metadata": {},
                      "plan": {
                        "id": "Free Trial",
                        "object": "plan",
                        "amount": 0,
                        "created": 1447767566,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Free Trial",
                        "statement_descriptor": null,
                        "trial_period_days": 14,
                        "statement_description": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BbNDRX6Xy8xTm5"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1508305938,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1509515538,
                "trial_start": 1508305938
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BbNDK0GPJHwhl9/subscriptions"
          },
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BbNDK0GPJHwhl9/cards"
          },
          "default_card": null
        }
  recorded_at: Tue, 17 Oct 2017 15:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BbNDK0GPJHwhl9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": [...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_BbNDRX6Xy8xTm5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
         [...]
[...]
