---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=yoshino%40malboro.info&plan=1
    headers:
      Authorization:
      - Bearer sk_test_bfQ3TbOEdmzB20uBzOGIVy4x
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436678354,
          "id": "cus_6aoUMP6mvUZpv3",
          "livemode": false,
          "description": "yoshino@malboro.info",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6aoUMP6mvUZpv3/subscriptions",
            "data": [
              {
                "id": "sub_6aoUi9oscuegAZ",
                "plan": {
                  "interval": "month",
                  "name": "Free Trial",
                  "created": 1433773343,
                  "amount": 0,
                  "currency": "usd",
                  "id": "1",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_descriptor": "STREAMPUSHER.COM",
                  "statement_description": "STREAMPUSHER.COM"
                },
                "object": "subscription",
                "start": 1436678354,
                "status": "trialing",
                "customer": "cus_6aoUMP6mvUZpv3",
                "cancel_at_period_end": false,
                "current_period_start": 1436678354,
                "current_period_end": 1439270354,
                "ended_at": null,
                "trial_start": 1436678354,
                "trial_end": 1439270354,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6aoUMP6mvUZpv3/cards",
            "data": []
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6aoUMP6mvUZpv3/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Sun, 12 Jul 2015 05:19:18 GMT
recorded_with: VCR 2.9.3
