---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1796XhBgrAjRvl1eeo2p1Xv3",
          "object": "token",
          "card": {
            "id": "card_1796XhBgrAjRvl1eCPeZ9IuP",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "gfiwz91dPIZDOAds",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "customer": null
          },
          "client_ip": "61.213.73.49",
          "created": 1447993837,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 19 Nov 2015 15:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7NsH8siLYq5n5k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7NsH8siLYq5n5k",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7NsH8siLYq5n5k/cards"
          },
          "created": 1447993776,
          "currency": "usd",
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "yoshino@malboro.info",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7NsH8siLYq5n5k/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7NsHStMTe41K1t",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449203376,
                "current_period_start": 1447993776,
                "customer": "cus_7NsH8siLYq5n5k",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1447993776,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1449203376,
                "trial_start": 1447993776
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7NsH8siLYq5n5k/subscriptions"
          }
        }
  recorded_at: Thu, 19 Nov 2015 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7NsH8siLYq5n5k/sources
    body:
      encoding: US-ASCII
      string: source=tok_1796XhBgrAjRvl1eeo2p1Xv3
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1796XhBgrAjRvl1eCPeZ9IuP",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7NsH8siLYq5n5k",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 7,
          "exp_year": 2016,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Thu, 19 Nov 2015 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7NsH8siLYq5n5k/cards/card_1796XhBgrAjRvl1eCPeZ9IuP
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1796XhBgrAjRvl1eCPeZ9IuP",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7NsH8siLYq5n5k",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 7,
          "exp_year": 2016,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Thu, 19 Nov 2015 15:00:00 GMT
[...]
