---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=yoshino%40malboro.info&plan=Free%20Trial
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9Qvwfw2hSPes7c",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9Qvwfw2hSPes7c/cards"
          },
          "created": 1477298713,
          "currency": "usd",
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "yoshino@malboro.info",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9Qvwfw2hSPes7c/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9QvwbonT4RBIaB",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1477298713,
                "current_period_end": 1478508313,
                "current_period_start": 1477298713,
                "customer": "cus_9Qvwfw2hSPes7c",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1477298713,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1478508313,
                "trial_start": 1477298713
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9Qvwfw2hSPes7c/subscriptions"
          }
        }
  recorded_at: Thu, 19 May 2016 15:00:00 GMT
recorded_with: VCR 3.0.3
