---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=yoshino%40malboro.info&plan=Free%20Trial
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8U8GCjn0jWc1qG",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8U8GCjn0jWc1qG/cards"
          },
          "created": 1463736798,
          "currency": "usd",
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "yoshino@malboro.info",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8U8GCjn0jWc1qG/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8U8GH3Mi08iecJ",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1463736798,
                "current_period_end": 1464946398,
                "current_period_start": 1463736798,
                "customer": "cus_8U8GCjn0jWc1qG",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1463736798,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1464946398,
                "trial_start": 1463736798
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8U8GCjn0jWc1qG/subscriptions"
          }
        }
  recorded_at: Thu, 19 May 2016 15:00:00 GMT
recorded_with: VCR 3.0.2
