---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BE9njBgrAjRvl1e7MHCdM2Y",
          "object": "token",
          "card": {
            "id": "card_1BE9njBgrAjRvl1ersvi82ex",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "gfiwz91dPIZDOAds",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "customer": null
          },
          "client_ip": "14.3.163.96",
          "created": 1508303347,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 17 Oct 2017 15:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BbMW2z4w3lF65B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BbMW2z4w3lF65B",
          "object": "customer",
          "account_balance": 0,
          "created": 1508303346,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": "yoshino@malboro.info",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BbMW2z4w3lF65B/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BbMWVk1sY55G5j",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1508303346,
                "current_period_end": 1509512946,
                "current_period_start": 1508303346,
                "customer": "cus_BbMW2z4w3lF65B",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1BE9niBgrAjRvl1egIFyXtyB",
                      "object": "subscription_item",
                      "created": 1508303346,
                      "metadata": {},
                      "plan": {
                        "id": "Free Trial",
                        "object": "plan",
                        "amount": 0,
                        "created": 1447767566,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Free Trial",
                        "statement_descriptor": null,
                        "trial_period_days": 14,
                        "statement_description": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BbMWVk1sY55G5j"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1508303346,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1509512946,
                "trial_start": 1508303346
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BbMW2z4w3lF65B/subscriptions"
          },
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_BbMW2z4w3lF65B/cards"
          },
          "default_card": null
        }
  recorded_at: Tue, 17 Oct 2017 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BbMW2z4w3lF65B/sources
    body:
      encoding: UTF-8
      string: source=tok_1BE9njBgrAjRvl1e7MHCdM2Y
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1BE9njBgrAjRvl1ersvi82ex",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_BbMW2z4w3lF65B",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 7,
          "exp_year": 2019,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Tue, 17 Oct 2017 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BbMW2z4w3lF65B/sources/card_1BE9njBgrAjRvl1ersvi82ex
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1BE9njBgrAjRvl1ersvi82ex",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_BbMW2z4w3lF65B",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 7,
          "exp_year": 2019,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Tue, 17 Oct 2017 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BbMW2z4w3lF65B
    body:
      encoding: UTF-8
      string: default_card=card_1BE9njBgrAjRvl1ersvi82ex&coupon=COOLCOUPON2014
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BbMW2z4w3lF65B",
          "object": "customer",
          "account_balance": 0,
          "created": 1508303346,
          "currency": "usd",
          "default_source": "card_1BE9njBgrAjRvl1ersvi82ex",
          "delinquent": false,
          "description": "yoshino@malboro.info",
          "discount": {
            "object": "discount",
            "coupon": {
              "id": "COOLCOUPON2014",
              "object": "coupon",
              "amount_off": 1200,
              "created": 1508300551,
              "currency": "usd",
              "duration": "repeating",
              "duration_in_months": 12,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": null,
              "redeem_by": null,
              "times_redeemed": 2,
              "valid": true
            },
            "customer": "cus_BbMW2z4w3lF65B",
            "end": 1539840252,
            "start": 1508304252,
            "subscription": null
          },
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BE9njBgrAjRvl1ersvi82ex",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_BbMWVk1sY55G5j
    body:
      encoding: UTF-8
      string: plan=Hobbyist
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
   [...]
[...]
