---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_bfQ3TbOEdmzB20uBzOGIVy4x
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16Nu9CBgrAjRvl1eIJVeXGbB",
          "livemode": false,
          "created": 1436744774,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16Nu9CBgrAjRvl1eNnEc4Ypb",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "gfiwz91dPIZDOAds",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "client_ip": "14.3.133.91"
        }
  recorded_at: Sun, 12 Jul 2015 23:46:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6b6LjQadHjVIiK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_bfQ3TbOEdmzB20uBzOGIVy4x
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436744773,
          "id": "cus_6b6LjQadHjVIiK",
          "livemode": false,
          "description": "yoshino@malboro.info",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6b6LjQadHjVIiK/subscriptions",
            "data": [
              {
                "id": "sub_6b6LdOxWRT3ESg",
                "plan": {
                  "interval": "month",
                  "name": "Free Trial",
                  "created": 1433773343,
                  "amount": 0,
                  "currency": "usd",
                  "id": "1",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_descriptor": "STREAMPUSHER.COM",
                  "statement_description": "STREAMPUSHER.COM"
                },
                "object": "subscription",
                "start": 1436744773,
                "status": "trialing",
                "customer": "cus_6b6LjQadHjVIiK",
                "cancel_at_period_end": false,
                "current_period_start": 1436744773,
                "current_period_end": 1439336773,
                "ended_at": null,
                "trial_start": 1436744773,
                "trial_end": 1439336773,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6b6LjQadHjVIiK/cards",
            "data": []
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6b6LjQadHjVIiK/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Sun, 12 Jul 2015 23:46:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6b6LjQadHjVIiK/sources
    body:
      encoding: US-ASCII
      string: source=tok_16Nu9CBgrAjRvl1eIJVeXGbB
    headers:
      Authorization:
      - Bearer sk_test_bfQ3TbOEdmzB20uBzOGIVy4x
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_16Nu9CBgrAjRvl1eNnEc4Ypb",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 7,
          "exp_year": 2016,
          "fingerprint": "gfiwz91dPIZDOAds",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": "pass",
          "address_line1_check": null,
          "address_zip_check": null,
          "tokenization_method": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6b6LjQadHjVIiK"
        }
  recorded_at: Sun, 12 Jul 2015 23:46:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6b6LjQadHjVIiK/cards/card_16Nu9CBgrAjRvl1eNnEc4Ypb
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_bfQ3TbOEdmzB20uBzOGIVy4x
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_16Nu9CBgrAjRvl1eNnEc4Ypb",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 7,
          "exp_year": 2016,
          "fingerprint": "gfiwz91dPIZDOAds",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": "pass",
          "address_line1_check": null,
          "address_zip_check": null,
          "tokenization_method": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6b6LjQadHjVIiK"
        }
  recorded_at: Sun, 12 Jul 2015 23:46:16 GMT
[...]
