---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19uGKJBgrAjRvl1eUB4CFemI",
          "object": "token",
          "card": {
            "id": "card_19uGKJBgrAjRvl1eJpxJvHLO",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "gfiwz91dPIZDOAds",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "customer": null
          },
          "client_ip": "153.156.73.136",
          "created": 1488785535,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 19 May 2016 15:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8U8GCjn0jWc1qG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8U8GCjn0jWc1qG",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_19uG50BgrAjRvl1eQyEObKox",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8U8GCjn0jWc1qG/sources
    body:
      encoding: UTF-8
      string: source=tok_19uGKJBgrAjRvl1eUB4CFemI
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_19uGKJBgrAjRvl1eJpxJvHLO",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8U8GCjn0jWc1qG",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 7,
          "exp_year": 2019,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Thu, 19 May 2016 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8U8GCjn0jWc1qG/sources/card_19uGKJBgrAjRvl1eJpxJvHLO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_19uGKJBgrAjRvl1eJpxJvHLO",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8U8GCjn0jWc1qG",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 7,
          "exp_year": 2019,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Thu, 19 May 2016 15:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8U8GCjn0jWc1qG
    body:
      encoding: UTF-8
      string: default_card=card_19uGKJBgrAjRvl1eJpxJvHLO&coupon=reallycoolcoupon
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Coupon expired: reallycoolcoupon",
            "param": "coupon"
          }
        }
  recorded_at: Thu, 19 May 2016 15:00:00 GMT
recorded_with: VCR 3.0.3
