---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=steve.aoki%40gmail.com&plan=Free%20Trial
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7NBDAnol5XSLlq",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7NBDAnol5XSLlq/cards"
          },
          "created": 1447833598,
          "currency": "usd",
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "steve.aoki@gmail.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7NBDAnol5XSLlq/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7NBDEMzQ6c2AeR",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449043198,
                "current_period_start": 1447833598,
                "customer": "cus_7NBDAnol5XSLlq",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1447833598,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1449043198,
                "trial_start": 1447833598
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7NBDAnol5XSLlq/subscriptions"
          }
        }
  recorded_at: Wed, 18 Nov 2015 07:59:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7NBDAnol5XSLlq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7NBDAnol5XSLlq/sources
    body:
      encoding: US-ASCII
      string: source=tok_178QrJBgrAjRvl1emePXSfJH
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_178QrJBgrAjRvl1edbZmQiM7",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7NBDAnol5XSLlq",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2029,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 18 Nov 2015 08:00:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7NBDAnol5XSLlq/cards/card_178QrJBgrAjRvl1edbZmQiM7
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_178QrJBgrAjRvl1edbZmQiM7",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7NBDAnol5XSLlq",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2029,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 18 Nov 2015 08:00:07 GMT
[...]
