---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=steve.aoki%40gmail.com&plan=Free%20Trial
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_ACmwSJsH17Z1UI",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ACmwSJsH17Z1UI/cards"
          },
          "created": 1488335914,
          "currency": "usd",
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "steve.aoki@gmail.com",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_ACmwSJsH17Z1UI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_ACmw5elSA2Dxbk",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1488335914,
                "current_period_end": 1489545514,
                "current_period_start": 1488335914,
                "customer": "cus_ACmwSJsH17Z1UI",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_19sNMMBgrAjRvl1e5iHVaQd7",
                      "object": "subscription_item",
                      "created": 1488335914,
                      "plan": {
                        "id": "Free Trial",
                        "object": "plan",
                        "amount": 0,
                        "created": 1447767566,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Free Trial",
                        "statement_descriptor": null,
                        "trial_period_days": 14,
                        "statement_description": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_ACmw5elSA2Dxbk"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "Free Trial",
                  "object": "plan",
                  "amount": 0,
                  "created": 1447767566,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Free Trial",
                  "statement_descriptor": null,
                  "trial_period_days": 14,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1488335914,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1489545514,
                "trial_start": 1488335914
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_ACmwSJsH17Z1UI/subscriptions"
          }
        }
  recorded_at: Wed, 01 Mar 2017 02:38:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ACmwSJsH17Z1UI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ACmwSJsH17Z1UI/sources
    body:
      encoding: UTF-8
      string: source=tok_19sNMSBgrAjRvl1eEBG9bwij
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_19sNMSBgrAjRvl1eswqVg4GA",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_ACmwSJsH17Z1UI",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2029,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 01 Mar 2017 02:38:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ACmwSJsH17Z1UI/cards/card_19sNMSBgrAjRvl1eswqVg4GA
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_19sNMSBgrAjRvl1eswqVg4GA",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_ACmwSJsH17Z1UI",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 12,
          "exp_year": 2029,
          "fingerprint": "gfiwz91dPIZDOAds",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 01 Mar 2017 02:38:42 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ACmwSJsH17Z1UI/subscriptions/sub_ACmw5elSA2Dxbk
    body:
      encoding: UTF-8
      string: plan=Hobbyist
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
[...]
