<%= "Hey #{@user.username}," %>
<p>
  If you are still interested in using Streampusher, I'm offering a discount of 50% off for your first six months.
</p>

<p>
  If you are interested use the code STREAMPUSHERDISCOUNTYEAHHH when you add your billing info.
</p>
<p>
<%== edit_subscription_url(@user.subscription) %>
</p>
