<%= "Hey #{@user.username}," %>
<p>
Your free trial on Streampusher has ended. Your radio will shut off soon.
</p>

<p>
If you would like to continue your subscription please add your billing information here.
</p>
<p>
<%== edit_subscription_url(@user.subscription) %>
</p>

<p>
Please get in touch if we can help in any way.
</p>

