<div class="row">
  <h1><%= @dj.username %></h1>
  <% if @dj.image.present? %>
    <div class="show-image">
    <%= image_tag @dj.image.url(:thumb) %>
    </div>
    <%= link_to "Original Size", @dj.image.url(:original), :target => "_blank"  %>
  <% end %>
  <div class="actions">
    <%= link_to "Edit", edit_dj_path(@dj) %>
  </div>
</div>
