---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% assign author = site.data.authors[page.author] %}
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <img src="{{ author.email | to_gravatar }}" alt="A photo of {{ author.name }}" />
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></span></p>
  </header>


  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% if site.commentsystem %}{% if page.comments != false %}
      <div id="comments">
        {% include comments.html %}
      </div>
    {% endif %}{% endif %}
  </div>

</article>
