<%#
  Hack Button partial - converted from Ember HackButton component (app/components/hack-button.hbs).
  Simple link to the datafruits GitHub organization.
%>
<% css_class = local_assigns.fetch(:css_class, '') %>
<a
  href="https://github.com/datafruits"
  target="_blank"
  rel="noreferrer noopener"
  class="cool-button hack <%= css_class %>"
  style="text-shadow: var(--color-text-shadow);"
>
  Hack
</a>
