<h1>Editing Track Metadata</h1>
<div class="row">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to "Help", help_path %><i class="fa fa-chevron-right"></i></li>
      <li>Editing Track Metadata</li>
    </ul>
  </div>
</div>
<div class="row">
  <p>
  On the <a href="/playlists">Media</a> page, click the pencil icon next to a track to edit its metadata.
  </p>

  <p>
  You can edit the title, artist, and album fields. You can also add album artwork. All the metadata is saved to the mp3 file itself.
  </p>
  <%= image_tag "guides/edit_track_metadata.gif", class: "screenshot" %>

  <br />

  <%= image_tag "guides/edit_track_artwork.gif", class: "screenshot" %>
</div>
