<h1>Editing Track Metadata</h1>

<p>
On the <a href="/playlists">Media</a> page, click the pencil icon next to a track to edit its metadata.
</p>

<p>
You can edit the title, artist, and album fields. You can also add album artwork. All the metadata is saved to the mp3 file itself.
</p>
<%= image_tag "guides/edit_track_metadata.gif", class: "screenshot" %>

<br />

<%= image_tag "guides/edit_track_artwork.gif", class: "screenshot" %>
