<h1>Embedded player</h1>

<p>You can embed your radio stream on your website using the provided embed code.</p>

Click your username with the gear icon in the top right corner, then click "Embed".

You'll see this screen below.

<%= image_tag "guides/embeds_page_scrot.png" %>

Copy and paste the provided embed HTML code on your website.

You can customize the background color as well.
