<h1>Uploading your tracks to mixcloud</h1>

First visit the <a href="/social_identities">Connected Accounts</a> page to connect your Mixcloud account to Streampusher.

Then click the link "Connect your Mixcloud account to Streampusher" to connect your mixcloud account.
You will be taken to the mixcloud website where you will have to login to mixcloud if you haven't already.
After authorizing the Streampusher app you will be taken back to Streampusher.

You can now go to the "Media" page and click the pencil icon on one of your tracks.
Then click the Mixcloud icon, then click the button "Upload to Mixcloud" to begin uploading this track to Mixcloud.
