<h1>Using playlists</h1>

<p>
After you <a href="/uploading_tracks">upload tracks</a> you can add them to playlists.
Click the '+' button to add them to the currently selected playlist.
</p>

<p>
Click the dropdown to change the currently selected playlist.
</p>

<p>
Click the New Playlist button to create a new playlist.
</p>
