<h1>Scheduling playlists</h1>

<p>
Click on a date on the calendar to schedule a new show.
</p>

<p>
Title this show.
</p>

<p>
Title this show.
Click the dropdown to select the playlist that will play tracks from during this show.
</p>

<p>
Select the start and end times.
</p>

<p>
You can make this scheduled show repeat weekly or monthly.
</p>
