<h1>Scheduling playlists</h1>

<p>
Click the "Add show" button to schedule a new show.
</p>
<%= image_tag "guides/schedule_new_show.png", class: "screenshot" %>

<p>
Title this show.
Click the dropdown to select the playlist that will play tracks from during this show.
</p>
<%= image_tag "guides/fill_out_scheduled_show_form.png", class: "screenshot" %>

<p>
Select the start and end times.
</p>

<p>
You can make this scheduled show repeat weekly or monthly.
</p>
