<h1>Where is the link to my stream?</h1>

<p>
You can get the direct link(s) to your stream on the top right of the navbar where it says "Direct mp3 link".
</p>
<%= image_tag "guides/mp3_link_scrot.jpg", class: "screenshot" %>
