<h1>Where is the link to my stream?</h1>
<div class="row">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to "Help", help_path %><i class="fa fa-chevron-right"></i></li>
      <li>Where is the link to my stream?</li>
    </ul>
  </div>
</div>
<div class="row">
  <p>
  You can get the direct link(s) to your stream on the top right of the navbar where it says "Direct mp3 link".
  </p>
  <%= image_tag "guides/mp3_link_scrot.jpg", class: "screenshot" %>
</div>
