<h1>Uploading tracks</h1>

<p>You can upload tracks in the <a href="/playlists">Media</a> page.</p>

<p>
Drag a file from your computer to the tracks area or click the upload button.
</p>
<%= image_tag "guides/track_upload.gif", class: "screenshot" %>

<p>
Note that currently only mp3s are supported. We hope to add support for more formats soon. Please <a href="mailto:info@streampusher.com">contact us</a> if you are in need of another file format.
</p>

After you upload tracks you can <a href="/pages/editing_track_metadata">edit their metadata</a> or
<a href="/playlists">add them to playlists</a>.
