<div class="row">
  <div class="col-md-6">
    <img class="uploader-icon" src="/assets/uploadericon.png"/>
    {{tracks-list tracks=model.tracks playlist=model.playlist}}
  </div>
  <div class="col-md-6">
    {{playlist-tracks-list playlist=model.playlist playlists=model.playlists}}
  </div>
</div>
