<div class="row no-gutter">
  <div class="col-md-5">
    {{tracks-list tracks=model.tracks playlist=model.playlist labels=model.labels}}
    <img class="uploader-icon" src="/assets/uploadericon.png"/>
  </div>
  <div class="col-md-7">
    {{playlist-tracks-list playlist=model.playlist playlists=model.playlists isSyncingPlaylist=isSyncingPlaylist setIsSyncingPlaylist=(route-action "setIsSyncingPlaylist")}}
  </div>
</div>
