<div id="jquery_jplayer_1" class="jp-jplayer"
  data-mp3="<%= @current_radio.relay_mp3_url =%>"
  data-radio-name="<%= @current_radio.name %>"
  data-icecast-json="<%= @current_radio.icecast_json %>" >
</div>
<ul id="navbar_jp_container" class="nav navbar-nav navbar-player jp-audio" role="application" aria-label="media player">
  <li class="jp-controls">
    <a class="jp-play" href="javascript:;" tabindex="1">▶︎</a>
    <a class="jp-pause" href="javascript:;" tabindex="1">❚❚</a>
    <a class="jp-loading" href="javascript:;" tabindex="1" style="display:none;">↻</a>
  </li>
  <li>
    <span class="jp-title" aria-label="title">&nbsp;</span>
  </li>
</ul>
