<div class="main-dashboard">
  <div class="row">
    <% if @radio.playlists.empty? %>
      <p class="bg-warning">
        You haven't added any playlists yet! You won't hear anything on your radio without any playlists. Add a playlist <%= link_to "here", playlists_path %>.
      </p>
    <% end %>
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <h3>next on air...</h3>
      <% show = @radio.next_scheduled_show %>
      <% if show %>
        <%= show.title %>
        <br/>
        <%= "#{show.start} - #{show.end}" %>
        <p><%= show.description %></p>
      <% end %>
    </div>
  </div>
  <h2>current listeners</h2>
  <span id='odometer'>0</span>

  <div id="chart">
    <canvas id="listensChart" width="600" height="400"></canvas>
  </div>

  <div id="calendar">
  </div>

  <div id="playlists">
  </div>

  <div id="dj-list">
  </div>
</div>
