<div class="main-dashboard">
  <div class="row">
    <div class="col-md-6">
      <%= render 'player' %>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <h2>current listeners</h2>
  <span id='odometer'>0</span>

  <div id="chart">
    <svg></svg>
  </div>

  <div id="calendar">
  </div>

  <div id="playlists">
  </div>

  <div id="dj-list">
  </div>
</div>
