:queues:
  - default
  - mailers
  - monitor
  - process_recordings
:scheduler:
  :schedule:
    badge_awards:
      every: 24h
      class: BadgeAwardsWorker
      args: [1]
    payout_fruit_ticket_track_plays:
      every: 24h
      class: PayoutFruitTicketTrackPlaysWorker
    monthly_supporters_payout:
      cron: '0 0 1 * *'
      class: SupportersMonthlyFruitTicketsWorker
      args: [1]
    collect_recordings:
      every: 1h
      class: CollectRecordingsWorker
    schedule_monitor:
      every: 1m
      class: ScheduleMonitorWorker
    daily_glorp_lottery:
      every: 24h
      class: DailyGlorpLotteryWorker
    expire_gift_subscriptions:
      every: 1h
      class: ExpireGiftSubscriptionsWorker
production:
  :concurrency: 5
