<h1>Streampusher Subscription</h1>

<span>You are currently subscribed to the <b><%= @subscription.plan.name %></b> plan. You can change your plan or update your billing info here.</span>

<% if @subscription.card_present? %>
  Current Billing Information:
  <table>
    <tr>
      <td><b>Card:</b></td>
      <td><%=@subscription.last_4_digits%></td>
    </tr>
    <tr>
      <td><b>Expires:</b></td>
      <td><%="#{@subscription.exp_month}/#{@subscription.exp_year}"%></td>
    </tr>
  </table>
<% end %>
