<h4>Tags</h4>
<div class="error">
{{#if error}}
  {{error}}
{{/if}}
</div>
{{#power-select-multiple-with-create
    options=labels
    selected=track.labels
    searchField="name"
    renderInPlace=true
    onchange=(action "setSelectedLabels")
    oncreate=(action "createTag")
    showCreateWhen=(action "hideCreateOptionOnSameName") as |label|
}}
  {{label.name}}
{{/power-select-multiple-with-create}}
