<tbody>
  <tr>
    <td>All Media</td>
    <td>{{track-uploader}}</td>
    <td><i class="fa fa-search"></i></td>
  </tr>
  <div id="tracks-list">
    {{#each tracks as |track|}}
      {{track-li track=track playlist=playlist}}
    {{/each}}
  </div>
</tbody>
