<table>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><strong>Request ID:</strong> <%= request %></td>
        <td><%= @liquidsoap.metadata request %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<strong>On air requests:</strong> <%= @on_air.to_s %>
