<%= "Hey #{@user.username}," %>

<p>
Have you added DJs to your station yet?
You can do so on the <a href="<%==  djs_url %>">DJs page</a>.
</p>

<img src="<%= asset_url "guides/add_dj_scrot.png" %>"/>

<p>
Just fill in their username and email and they will be able to stream and login to your station.
</p>
<p>
If you have any questions, just reply to this email.
</p>
