<%= "Hey #{@user.username}," %>

<p>
Have you added tracks to your Streampusher media library yet?
</p>
<img src="<%= asset_url "track_upload.gif" %>"/>
<p>
Its as simple as dragging and dropping files into the media library.
You can do so <a href="<%== playlists_url %>">here</a>.
</p>

<p>
After you have uploaded tracks, you can add them to a playlist.
</p>
<img src="<%= asset_url "add_track_to_playlist.gif" %>"/>

<p>
Check out the help center guide for more information.
</p>
<a href="https://streampusher.com/pages/uploading_tracks">Uploading Tracks</a>
<a href="https://streampusher.com/pages/playlists">Playlists</a>

<p>
If you have any questions, just reply to this email.
</p>
