/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar/fullcalendar.css
 *= require creditly.css
 *= require_tree .
 *= require_self
 */

$yurakucho: #EDBA0F;
$oedo: #DA006E;
$marunochi: #E6040F;
$chiyoda: #049B4E;
$blue: #03B4F7;

.navbar {
  background: $chiyoda;
}

.navbar .brand {
  color: #fff;
  text-shadow: 0 1px 0 #333;
  font-size: 25px;
  text-decoration: none;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 #333;
  font-size: 18px;
}

.navbar .nav > li > a:hover {
  background-color: lighten($chiyoda, 20%);
  text-decoration: none;
}

body {
}

#odometer {
  font-size: 60px;
}

#chart svg {
  height: 400px;
  width: 600px;
}

.signup {
  margin: 0 auto;
  max-width: 45.25rem;
  text-align: center;
}

.signup form {
  background:lighten($blue, 40%);
  padding: 0;
  border-radius: 5px;
  text-align: left;
}

.signup form .content {
  padding: 15px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.signup form input {
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.signup form label {
  line-height: 0.3rem;
  font-weight: bold;
  display: inline-block;
}

.signup form .button {
  background: $chiyoda;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  border: 0;
  box-shadow: 0 2px 0 darken($chiyoda, 20%);
  margin-left: auto;
  margin-right: auto;
}

.signup form .button:hover {
  background: darken($chiyoda, 10%);
  box-shadow: 0 2px 0 darken($chiyoda, 30%);
}

.signup .action {
  text-align: center;
}

.creditly-wrapper {
  border-top: 1.5px solid #d9ecec;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
