/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar/fullcalendar.css
 *= require creditly.css
 *= require jquery-ui
 *= require admin
 *= require bootstrap_and_overrides
 *= require djs
 *= require landing
 *= require loading_spinner
 *= require player
 *= require playlists
 *= require podcasts
 *= require radios
 *= require recordings
 *= require scheduled_shows
 *= require stats
 *= require subscriptions
 *= require chosen
 *= require bootstrap-tour
 *= require_self
 *= require clock
 */
@import "bourbon";
@import "font-awesome-sprockets";
@import "font-awesome";

$yurakucho: #EDBA0F;
$oedo: #DA006E;
$marunochi: #E6040F;
$chiyoda: #049B4E;
$blue: #03B4F7;
$blue2: #00a2ff;

div.landing {
  img {
    height: auto;
    width: auto;
    max-width: 100%;
  }
}

.navbar {
  background: #444;
  margin-bottom:0px;
  border-radius: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.navbar .brand {
  color: #fff;
  text-shadow: 0 1px 0 #333;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 #333;
  font-size: 16px;
  text-decoration: none;
}

.navbar .nav > li > a:hover {
  background-color: lighten(#444, 20%);
  text-decoration: none;
}

.dropdown-menu >li > a {
  text-decoration: none;
}

#odometer {
  font-size: 100px;
  font-weight: bolder;
}

#chart svg {
  height: 400px;
  width: 600px;
}

.signup {
  margin: 0 auto;
  max-width: 45.25rem;
  text-align: center;
}

.signin {
  margin: 0 auto;
  max-width: 45.25rem;
  text-align: center;
}

.signup form {
  background:lighten($blue, 40%);
  padding: 0;
  border-radius: 5px;
  text-align: left;
}

.signup form .content {
  padding: 15px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.signup form input {
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.signup form label {
  line-height: 0.3rem;
  font-weight: bold;
  display: inline-block;
}

.big-cta-btn {
  background: $blue2;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  border: 0;
  box-shadow: 0 2px 0 darken($blue2, 20%);
  margin-left: auto;
  margin-right: auto;
}

.signup form .button:hover {
  background: darken($blue2, 10%);
  box-shadow: 0 2px 0 darken($blue2, 30%);
}

.signup .action {
  text-align: center;
}

.creditly-wrapper {
  border-top: 1.5px solid #d9ecec;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

form input[type=submit] {
  margin-bottom: 10px;
  margin-top: 10px;
}

a {
  color: $blue2;
  text-decoration: underline;
}

a:hover {
  color: lighten($blue2, 20%);
}

table a {
  color: $blue2;
}

table a:hover {
  color: lighten($blue2, 20%);
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-10px));
  }
  60% {
    @include transform(translateY(-3px));
  }
}

.flash {
  background-size: contain;
  border-radius: 3px;
  padding: 5px;
  color:white;
  font-weight:bold;
  font-size: 17px;
  text-shadow: 3px 3px 3px #333;
  width: 50%;
  padding: 7px;
  box-shadow: 3px 3px 3px #555;

  @include animation(bounce 1s 1);
  position: fixed;
  z-index: 9999;
}

.flash#notice {
    background: lighten($blue2, 20%);
}

.flash#error {
    background: lighten($marunochi, 20%);
}

.flash#alert {
    background: lighten($marunochi, 20%);
}


.bg-warning {
  padding: 5px;
  border: 3px solid darken(#fcf8e3, 20%);
  border-radius: 3px;
  a {
    color: $blue;
  }
}

#live-bar {
  background: #ddd;
  display: none;
  top: 5rem;
  position: relative;
}

.live {
  color: red !important;
}

.download {
  color: #bbb;
}

.modal-content {
  background: $blue;
}

input[type="checkbox"] {
  margin: 0px !important;
}

.btn-success {
  background: $blue2;
  border-color: $blue2;
}

.btn-success:hover {
  background-color: lighten($blue2, 20%);
  border-color: darken($blue2, 20%);
}

.error {
  color: red;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.downdown-menu > li > a {
  text-decoration: none;
}

* {
  margin: 0;
}
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;

  padding-top: 60px;
}
.container:after {
  content: "";
  display: block;
}
footer, .container:after {
  height: 50px;
}

footer {
  background: #444;
  overflow: hidden;
  position: relative;
  z-index: 2;
  ul {
    list-style: none;
    float: left;
    padding: 12px;
    li {
      display: inline-block;
      margin-left: 16px;
    }
  }
  a {
    color: #fff;
    text-shadow: 0 1px 0 #333;
    text-decoration: none;
  }
}

.side-navbar {
  z-index: 1;
  background: #444;
  width: 140px;
  position: fixed;
  height: 100%;
  border: none;
  border-radius: 0;
  top: 50px;
}

.side-navbar .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-player {
  .jp-controls {
    background: none;
    width: auto;
    height: auto;
    a {
      font-size: 14px;
    }
  }

  .jp-title {
    position: relative;
    background: none;
    padding: 0;
    bottom: -10px;
    font-size: 22px;
    display: inline-block;
    width: 730px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#main {
  z-index: 0;
  margin-left: 150px;
}
