.current-time-navbar {
  @media only screen and (max-width: 1330px) {
    display: none;
    visibility: hidden;
  }
  .current-time {
    font-size: 35px;
    color: red;
  }

  .current-timezone {
    font-size: 15px;
    color: red;
  }
}
