/*
 *= require player
*/

.jp-audio {
  width: 90%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150%;
  background-position-y: center;
  overflow: hidden;
}

.jp-type-single .jp-details {
  position: absolute;
  bottom: 0;
}

.logo {
  position: absolute;
  bottom: 5;
  right: 5;
  background: rgba(255,255,255,.8);
  padding: 5px;
  border-radius: 3px;
}

.logo:hover {
  background: rgba(255,255,255,1);
}
