// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bourbon";

$blue: #03B4F7;
$chiyoda: #049B4E;

#newsletter {
  margin: 0 auto;
  max-width: 45.25rem;
  text-align: center;
}

#mc_embed_signup form {
  text-align: center;
  padding: 0;
}

#mc_embed_signup input {
  padding: 8px 0;
  font-size: 20px;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#mc_embed_signup input.email {
  width: 80%;
  font-weight: normal;
  margin-bottom: 5px;
}

#mc_embed_signup input.submit {
  font-weight: bold;
  border: 0;
}

p.price {
  text-align: center;
  font-size: 36px;
  color: lighten($blue, 5%);
  text-shadow: 0 1px 0 #333;
}

.white {
  background: #fff;
}

section#header {
  text-align: center;
  h1,h2 {
  }
}

.landing-container {
  padding-right: 0;
  padding-left: 0;
}

.landing-top {
  width: 100%;
  background-image: image-url("cute_icons.png");
  background-repeat: repeat;
}

h1.lead-copy-1 {
  font-size:2em;
}

h1.lead-copy-2 {
  font-size:3em;
}

div.landing {
  font-size: 2rem;
  h2 {
    font-size: 3rem;
  }
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }

  .panel-title {
    text-transform: uppercase;
    text-align: center;
  }
}

@include keyframes(wiggle) {
  from {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.03) rotate(-3deg));
  }
  to {
    @include transform(scale(1));
  }
}

.hero-graphic {
  box-shadow: 0 10px 80px 0 rgba(47, 33, 75, .25);
}

.hero-logo:hover {
  @include animation(wiggle 1.0s cubic-bezier(1, -0.9, 1, 1));

}

.dashboard-screenshot {
  border-radius: 12px;
}

#cta-modal {
  .modal-content {
    background: white;
  }
}
