// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon";

ul.playlist-tracks {
  min-height: 100px;
}

li.playlist {
  list-style:none;
  border-radius:5px;
  background: orange;
  margin: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.playlist-state-default {
  background: lighten(orange, 10%);
}

.playlist-state-hover {
  background: lighten(orange, 30%);
}

li.track {
  z-index: 100;
  list-style:none;
  border-radius:5px;
  background: yellow;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 415px;
  button {
    padding: 3px;
    margin: 5px;
  }
}

li.track.ui-draggable:hover {
  cursor: pointer;
}

li.track.ui-draggable-dragging:hover {
  cursor: move;
}

#dropzone {
    background: palegreen;
    width: 150px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    @include transition(all 0.3s ease-out);
    opacity: 1;
}
