// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon";

ul#tracks {
  height: 400px;
  overflow-y: scroll;
  min-height: 100px;
}

ul.playlist-tracks {
  height: 400px;
  overflow-y: scroll;
  min-height: 100px;
}

li.playlist {
  list-style:none;
  border-radius:5px;
  background: orange;
  margin: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  position: relative;
}

.playlist-state-default {
  background: lighten(orange, 10%);
}

.playlist-state-hover {
  background: lighten(orange, 30%);
}

li.track {
  z-index: 100;
  list-style:none;
  border-radius:5px;
  background: yellow;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  .btn {
    padding: 3px;
    margin: 5px;
  }
  .edit-track {
    float: right;
  }
}

li.track.ui-draggable:hover {
  cursor: pointer;
}

li.track.ui-draggable-dragging:hover {
  cursor: move;
}

#dropzone {
    background: palegreen;
    width: 150px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.drop-fade {
    @include transition(all 0.3s ease-out);
    opacity: 1;
}

.context-menu-list {
  font-family: inherit !important;
  font-size: inherit !important;
}
.context-menu-item {
  background: yellow !important;
}
.context-menu-item:hover {
  background-color: #39F !important;
}
.context-menu-item.icon-edit {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none !important;
}
.context-menu-item.icon-delete {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none !important;
}
.context-menu-item.icon-edit:before { content: "\f040"; }
.context-menu-item.icon-delete:before { content: "\f057"; }

.edit-track .modal-content {
  background-color: yellow;
}

.edit-playlist-track .modal-content {
  background-color: orange;
}

.expand-playlist {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 5px;
}

.expand-playlist:hover {
  cursor: pointer;
}

.new-playlist-btn {
  float: right;
}

.playlist-title {
  font-size: 30px;
  input {
    border: none;
    border-bottom: dashed 2px #c9c9c9;
    transition: border 0.3s;
  }
}

#playlist-selector {
  cursor: pointer;
}

.playlists-selector-container {
  position: relative;
}

.playlists-menu {
  background: white;
  position: absolute;
  height: 300px;
  width: 250px;
  overflow-y: scroll;
}

.meter {
  height: 30px;
  position: relative;
  background: #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(43,194,83);
  position: relative;
  overflow: hidden;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

$default-margin : 20px;
$gray-light     : #e1e1e1;
$gray-medium    : #aaa;
$green          : #2ecc71;
$white          : #fff;
$black          : #111;

.draggableDropzone {
   position: relative;
   display: block;
   padding: $default-margin / 2;
   width: 100%;
   opacity:1;
   -webkit-transition: opacity .25s ease;
   -moz-transition: opacity .25s ease;
   &.activated {
     opacity: 0.60;
   }
   &.deactivated {
     opacity:1;
   }
}

.uploader-icon {
  pointer-events: none;
  display: none;
  z-index: 1000;
  position: absolute;
  /* COOL HAX */
  top: 7em;
  left: 15em;
}

.tracks-title {
  font-size: 30px;
}

button.tracks-search {
  margin-top: 10px;
}
