// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon";

ul#tracks {
  height: 400px;
  overflow-y: scroll;
  min-height: 100px;
}

ul.playlist-tracks {
  height: 400px;
  overflow-y: scroll;
  min-height: 100px;
}

li.playlist {
  list-style:none;
  border-radius:5px;
  background: orange;
  margin: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  position: relative;
}

li.track {
  z-index: 100;
  list-style:none;
  border-radius:5px;
  background: yellow;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  .btn {
    padding: 3px;
    margin: 5px;
  }
  .edit-track {
    float: right;
  }
}

li.track.ui-draggable:hover {
  cursor: pointer;
}

li.track.ui-draggable-dragging:hover {
  cursor: move;
}

#dropzone {
    background: palegreen;
    width: 150px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}

#dropzone.drop-fade {
    @include transition(all 0.3s ease-out);
    opacity: 1;
}

.playlist-title {
  font-size: 30px;
  input {
    border: none;
    border-bottom: dashed 2px #c9c9c9;
    transition: border 0.3s;
  }
}

.playlist-title:hover {
  cursor: pointer;
  border-bottom: dashed 2px #c9c9c9;
}

#playlist-selector {
  cursor: pointer;
}

.playlists-selector-container {
  position: relative;
}

.playlists-menu {
  background: white;
  position: absolute;
  height: 300px;
  width: 250px;
  overflow-y: scroll;
}

.meter {
  height: 30px;
  position: relative;
  background: #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(43,194,83);
  position: relative;
  overflow: hidden;
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

$default-margin : 20px;
$gray-light     : #e1e1e1;
$gray-medium    : #aaa;
$green          : #2ecc71;
$white          : #fff;
$black          : #111;

.draggableDropzone {
   opacity:1;
   -webkit-transition: opacity .25s ease;
   -moz-transition: opacity .25s ease;
   &.activated {
     opacity: 0.60;
   }
   &.deactivated {
     opacity:1;
   }
}

.uploader-icon {
  pointer-events: none;
  display: none;
  z-index: 1000;
  position: absolute;
  /* COOL HAX */
  top: 7em;
  left: 15em;
}

$base-line-height: 35px;
$spin-duration: 1.0s;

.spinner {
  pointer-events: none;
  z-index: 1000;

  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: 0.5rem solid #ddd;
  border-top-color: white;
  animation: spin $spin-duration infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playlist-tracks-list.syncing {
  opacity: 0.60;
}

.tracks-title {
  font-size: 14px;
  text-indent: 15px;
}

.search-tracks {
  border-radius: 2px;
  width: 100%;
}

.wrapper {
  position: relative;
  i.fa-search {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.tracks-list {
  height: 400px;
  overflow-y: scroll;
  margin-top: 12px;
}

.playlist-tracks-list {
  margin-top: 4px;
  height: 400px;
  overflow-y: scroll;
  .handle {
    font-size: 25px;
    border: solid black 8px;
    cursor: move;
  }
}

.sortable-item {
  transition: all .125s;
  cursor: pointer;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  background: lighten(#00a2ff, 25%) !important;
  z-index: 10;
  cursor: move;
}

.sortable-item.is-dropping {
  background: lighten(#00a2ff, 40%) !important;
  z-index: 10;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  .left {
    margin-right: auto;
  }
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
}
