// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stats-box {
  .stats-number {
    font-size: 7em;
    text-align: center;
  }
}

#map {
  height: 180px;
}
