<li data-type="playlist_track" data-track-id="<%= playlist_track.id %>" class='track'>
  <button data-track-id="<%= playlist_track.id %>" class="delete-from-playlist btn btn-danger">
    <i class="fa fa-times-circle"></i>
  </button><%= playlist_track.track.file_basename %>
</li>
