<h1>playlists</h1>
<div class="row">
  <div class="col-md-8">
    <h3>songs</h3>
    <input type='file'>
    <ul>
      <li>三毛猫ホームレス - インタネット</li>
      <li>Avec Avec - Marmalade Boogie</li>
      <li>ZONE - secret base</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>playlist</h3>
  </div>
</div>
