<div class="row">
  <div class="col-md-6">
    <ul id="tracks">
      <div data-component="tracks-list" data-attrs="<%= {
        tracks: @tracks,
        playlist_id: @playlist.id
      }.to_json %>"></div>
    </ul>
  </div>
  <div class="col-md-6">
    <%= render @playlist %>
  </div>
</div>
<base href="/playlists/">
<%= include_ember_script_tags :frontend %>
<%= include_ember_stylesheet_tags :frontend %>
