<div class="row">
  <div class="col-md-12">
    <h2>Period</h2>
    <div class="daterange daterange--double"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="stats-box">
      <h3>Total Sessions</h3>
      <div class="stats-number">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="stats-box">
      <h3>Average Sessions Per Hour</h3>
      <div class="stats-number">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="stats-box">
      <h3>Average Listening Minutes Per Session</h3>
      <div class="stats-number">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="chart">
  </div>
</div>
