<div class="row">
  <div class="col-md-12">
    <h2>Period</h2>
    <div class="daterange daterange--double"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="stats-box">
      <h3>Total Sessions</h3>
      <div class="stats-number">
        <%= @listens.count %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="stats-box">
      <h3>Average Sessions Per Hour</h3>
      <div class="stats-number">
        <%= average_sessions_per_hour(@listens_by_hour) %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="stats-box">
      <h3>Average Listening Minutes Per Session</h3>
      <div class="stats-number">
        <%= average_listening_minutes_per_session(@listens.select(:start_at, :end_at)) %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Total Sessions</h1>
    <div id="chart">
      <canvas id="totalSessionsChart" width="600" height="400"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h1>Average Listening Minutes per Hour</h1>
    <div id="chart">
      <canvas id="averageListeningTimeChart" width="600" height="400"></canvas>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Sessions per Hour</h1>
    <div id="chart">
      <canvas id="sessionsPerHourChart" width="600" height="400"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>World Map</h1>
    <div id="map"></div>
  </div>
</div>
