<h2>VJ</h2>
<%= simple_form_for @radio, url: vj_path, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :vj_enabled, as: :boolean  %>
  <%= f.submit 'Save Settings', class: 'btn btn-success' %>
<% end %>

