<h2>
<%= "Hey #{@user.username}," %>
</h2>

<p>
</p>

<p>
You can log in here.
<%== login_url %>
</p>

<p>
For broadcasting help, check out our <%== link_to "help page.", broadcasting_help_url %>
</p>

<p>
You can stream to the station using the same login and password from your source client.
</p>

<p>
If your source client only has a password field, you can enter both the login
and password in the password field, separated by a semicolon ';'.
</p>
