<h2>
<%= "Hey #{@user.username}," %>
</h2>

<p>
Your DJ account on <%= @radio.name %> has been created.
</p>

<% if !@user.roles.include?("listener") %>
  <p>
  Your username is <%= @user.username %>.
  Your password is <%= @password %>.
  </p>
<% end %>

<p>
You can change your password <a href="https://datafruits.fm/user/settings">here.</a>
</p>

<p>
Check out our <a href="https://datafruits.fm/wiki/datafruits-anysong-dj-manual">DJ guide </a>, on the datafruits wiki, Fruitstopiyeah.
There you can find out how to stream from your computer and schedule shows.
</p>

<p>
Feel free to do a test stream whenever there is no other DJ or event scheduled.
</p>

<p>
  Then when you have decided when you want to do your show, you can add it to the <a href="https://datafruits.fm/user/my-shows">https://datafruits.fm/user/my-shows</a>. Feel free to grab any time slot that is open.
</p>

<p>
If you have any questions or need help with anything, just reply to this email!
</p>

<p>
Also feel free to <a href="https://discord.gg/KbNq4bb">join our discord chat!</a>
It's a great place to ask for help
</p>

<p>
  And there's lots more info on the <a href="https://datafruits.fm/wiki">wiki!</a>
</p>

<p>
Thanks
</br >
-freedrull
</p>
