<div class="container-fluid" id="live-bar">
  <div class="row">
    <div class="col-md-4">
      no live dj
    </div>
    <div class="col-md-4">
      no scheduled show
    </div>
    <div class="col-md-4">
      connection info:
      <table class="table">
        <tr>
          <td>Host:</td>
          <td><%= @current_radio.virtual_host %></td>
        </tr>
        <tr>
          <td>Port:</td>
          <td><%= @current_radio.liquidsoap_harbor_port %></td>
        </tr>
        <tr>
          <td>Mount:</td>
          <td><%= "/#{@current_radio.name}"%></td>
        </tr>
        <tr>
          <td>Password:</td><td><%= "#{@current_user.username};YOURPASSWORD" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
