<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>
    <a href="https://streampusher.com/"><img src="<%= asset_url "logo_black_small.png" %>"/></a>
  </body>
</html>
